<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink='/home'>
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Nuestros Procesos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-slides pager="true">
      <ion-slide *ngFor="let item of items">
        <div>
          <h4 [innerHTML]="item.ID"></h4>
        </div>
        <div class="slide-img-padding">
          <img [src]="item.Source">
        </div>
        <div>
          <h5 [innerHTML]="item.Text"></h5>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-card>
</ion-content>
