<ion-header>
  <ion-toolbar>
    <ion-title>Preguntas Frecuentes</ion-title>
    <ion-buttons slot="start">
      <ion-button routerLink='/home'>
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--Primera Pregunta-->
  <ion-card>
  <div style="margin: 15px;">
  <ion-img src="assets/eco.jpg"></ion-img>
  </div>
  <ion-card-title><div style="text-align: center; margin-top: 15px;">
    ¿Cual es nuestra mision?
  </div></ion-card-title>
  <ion-card-content><div style="text-align: justify; margin-top: 10px;">
    Somos un grupo agroindustrial familiar, social y ecologicamente responsale,
    que asume el compromiso de producir, procesar y distribuir alimentos sanos, practicos y 
    nutritivos de calidad nacional.
  </div></ion-card-content>
</ion-card>
<!--Segunda Pregunta-->
<ion-card>
  <div style="margin: 15px;">
  <ion-img src="assets/control.jpg"></ion-img>
  </div>
  <ion-card-title><div style="text-align: center; margin-top: 15px;">
    ¿Qué es el control biológico?
  </div></ion-card-title>
  <ion-card-content><div style="text-align: justify; margin-top: 10px;">
    El Control Biológico es el uso de organismos vivos para regular las poblaciones de 
    otros organismos plaga. Las ventajas del uso de este control son: ningún efecto nocivo 
    o colateral, raros casos de resistencia, elimina completa o sustancialmente el uso de 
    insecticidas, relación beneficio/costo muy favorable, evita plagas secundarias, se 
    evitan riesgos de intoxicación, se obtienen alimentos más sanos, no contamina el ambiente, 
    es de larga duración, no genera resistencias, no deja residuos, es 100% natural, no daña 
    a los cultivos ni a las personas y con su uso se obtienen alimentos más sanos.
  </div></ion-card-content>
</ion-card>
<!--Tercera Pregunta-->
<ion-card>
  <div style="margin: 15px;">
  <ion-img src="assets/compost.jpg"></ion-img>
  </div>
  <ion-card-title><div style="text-align: center; margin-top: 15px;">
    ¿Aplicación de composta?
  </div></ion-card-title>
  <ion-card-content><div style="text-align: justify; margin-top: 10px;">
    Creamos nuestra propia composta, la cual nos ayuda a tener alimentos más sanos. 
    Sabías que con la producción que genera nuestra composta podríamos fertilizar 
    hasta 20 campos de fútbol.
  </div></ion-card-content>
</ion-card>
<!--Cuarta Pregunta-->
<ion-card>
  <div style="margin: 15px;">
  <ion-img src="assets/goteo.jpg"></ion-img>
  </div>
  <ion-card-title><div style="text-align: center; margin-top: 15px;">
    ¿Riego por goteo?
  </div></ion-card-title>
  <ion-card-content><div style="text-align: justify; margin-top: 10px;">
    Utilizamos el riego por goteo, o mejor conocido como riego gota a gota. Es un método 
    de riego que sirve para la utilización óptima del agua, ya que el agua se infiltra 
    hacia las raíces. Nos permite lograr un 69% de ahorro de agua con referencia al riego 
    por gravedad. Los nutrientes son efectivamente aprovechados por la planta y ofrece un 
    rendimiento superior al 20%.
  </div></ion-card-content>
</ion-card>
</ion-content>
