ion-slide{
    display: block;
  }
  
  .slide-img-padding{
    padding: 30px;
  }
  
  h5{
    font-weight: lighter;
    margin-bottom: 30px;
  }

  h4{
    font-weight: lighter;
    margin-bottom: 0px;
  }
  
  ion-slides{
    --bullet-background: grey;
    --bullet-background-active: #2DD238;
  }
    

  ion-card-content{
   font-weight: lighter;
  }