<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink='/home'>
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title  class="ion-text-center">
   Nuestros Productos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>

  <ion-slides pager="true">
    
    <ion-slide *ngFor="let slide of slides">
      <div>
        <h4 [innerHTML]="slide.s"></h4>
      </div>
      <div class="slide-img-padding">
        <img [src]="slide.img">
      </div>
      <div>
       <h5 [innerHTML]="slide.titulo"></h5>
       </div>
    </ion-slide>

  </ion-slides>

</ion-card>
</ion-content>
