<ion-content>
  <ion-card>
    <img src="../../assets/Home/Logo.jpg"/>
    <ion-card-header>
      <ion-card-title>Sobre nosotros</ion-card-title>
    </ion-card-header>
  <ion-card-content>
    Somos la solucion mas organica de consumir alimentos traidos de la tierra,
    todo lo hacemos con respeto hacia la naturaleza y el consumidor
  </ion-card-content>
  </ion-card>

  <ion-button shape ="block" routerLink = "/productos">Nuestros Productos</ion-button>

  <ion-button shape ="block" routerLink = "/procesos">Nuestros Procesos</ion-button>

  <ion-button shape ="block" routerLink = "/preguntas">Preguntas Frecuentes</ion-button>

  <ion-button shape ="block" routerLink = "/contacto">Contacto</ion-button>
  
  <video controls>
    <source src="foo.ogg" type="video/ogg">
    <source src="../../assets/Videoapp.mp4" type="video/mp4">
    Tu navegador no implementa el elemento <code>video</code>.
  </video>
  
</ion-content>

